div.FormElement {
	clear:left;
	height: auto;
	margin-left: 12px;
}

div.FormElement label {
	width: 120px;
	float:left;
	font-size: 11px;
    margin-right: 5px;
	
}

div.FormElement input, div.FormElement textarea, div.FormElement select {
	margin-bottom: 6px;
	font-size: 9px;
	border: 1px #CCCCCC solid;
}

div.FormElement iframe {
	border: 0;
	margin: 0;
}

div.FormElement textarea {
	width: 300px;
	height: 50px;
}

div.distChWiz_assetsCart, div.distChWiz_creditCardInformation, div.distChWiz_distChangeArea {
	
	display: block;
}

div.distChWiz_changeSuccess {
	color: green;
}

div.distChWiz_changeSuccess input {
	display: block;
}

div.distChWiz_creditCardInformation .header, div.distChWiz_assetsCart .header, div.distChWiz_distChangeArea .header, .marathonCrewMembersInivitation .header {
	
	font: medium;
	font-weight: bold;
	border-bottom: 1px #CCCCCC solid;
}

div.distChWiz_assetsCart, div.distChWiz_creditCardInformation, div.distChWiz_distChangeArea {
	position: relative;
	left: 0px;
	top: 0px;
}

div.distChWiz_distChangeArea .warning {
	font-style: italic;
	margin-top: 2px;
}

div.distChWiz_assetsCart div.contents, div.distChWiz_creditCardInformation div.contents, div.distChWiz_distChangeArea div.contents {
	display: block;
}

div.distChWiz_assetsCart div.contents div.entry, div.distChWiz_creditCardInformation div.contents div.entry, div.distChWiz_distChangeArea div.contents div.entry {
	margin: 10px;
}

div.distChWiz_assetsCart div.contents div.entry div, div.distChWiz_creditCardInformation div.contents div.entry span.subentry, div.distChWiz_distChangeArea div.contents div.entry div, div.distChWiz_distChangeArea div.contents div.entry span.subentry {
	display: inline;
	position: absolute;
	left: 150px;
}

div.distChWiz_distChangeArea .error, div.distChWiz_creditCardInformation .error {
	margin-left: 5px;
	color: red;
	display: block;
	font-size: small;
}

div.distChWiz_creditCardInformation .generalError {
	
	color: red;
	font-size: small;
}

div.distChWiz_distChangeArea select {
	width: 150px;
}

div.distChWiz_creditCardInformation div.contents div.entry input {
	width: 200px;
}

div.distChWiz_creditCardInformation div.contents div.entry input.ccvNumber {
	width: auto !important;
}

div.distChWiz_creditCardInformation div.contents div.credCardNr input {
	position: static;
	width: auto !important;
}

/**** <marathon crews> */

/*with #article*/ 
#article div.marathonCrewsOverviewList,
/*the same without #article*/
div.marathonCrewsOverviewList {
	position: relative !important;
	left: 0px !important;
	top: 0px !important;
	color: black !important;
}

/*<crews tables>*/

/*with #article*/ 
#article .marathonCrewsOverviewList table, #article .marathonCrewView table, #article .marathonCrewMembersInivitation table, 
/*the same without #article*/ 
.marathonCrewsOverviewList table, .marathonCrewView table, .marathonCrewMembersInivitation table {
	margin: 0px !important;
	padding: 0px !important;
	border: solid #CCCCCC 1px !important;
	border-collapse: collapse !important;
}

/*with #article*/
#article .marathonCrewsOverviewList th, #article .marathonCrewsOverviewList td, #article .marathonCrewView td, #article .marathonCrewView th, #article .marathonCrewMembersInivitation td, #article .marathonCrewMembersInivitation th,
/*the same without #article*/
.marathonCrewsOverviewList th, .marathonCrewsOverviewList td, .marathonCrewView td, .marathonCrewView th, .marathonCrewMembersInivitation td, .marathonCrewMembersInivitation th {
	
	padding: 2px !important;
	border: solid #CCCCCC 1px !important;
}

/*</crews tables>*/


/*<crews links>*/

/*with #article*/
#article .marathonCrewsOverviewList #article .links a:hover, #article .marathonCrewsOverviewList .headerContainer a:hover, #article .marathonCrewsOverviewList .contentsContainer th a:hover, #article .marathonCrewMembersInivitation td a:hover,
/*the same without #article*/ 
.marathonCrewsOverviewList .links a:hover, .marathonCrewsOverviewList .headerContainer a:hover, .marathonCrewsOverviewList .contentsContainer th a:hover, .marathonCrewMembersInivitation td a:hover {
	background-color: #6C6C6B !important;
	color: white !important;
}

/*with #article*/
#article .marathonCrewsOverviewList .contentsContainer th a,
/*the same without #article*/
.marathonCrewsOverviewList .contentsContainer th a {
	padding: 2px !important;
}

/*with #article*/
#article .marathonCrewsOverviewList a, #article .marathonCrewMembersInivitation a,
/*the same without #article*/
.marathonCrewsOverviewList a, .marathonCrewMembersInivitation a {
	
	color: #6C6C6B !important;
	text-decoration: none !important;
}

/*with #article*/
#article .marathonCrewsOverviewList .headerContainer a,
/*the same without #article*/
.marathonCrewsOverviewList .headerContainer a {
	border: solid grey 1px !important;
	padding: 2px !important;
	display: inline !important;
}

/*with #article*/
#article .marathonCrewsOverviewList .links a, #article .marathonCrewsOverviewList .headerContainer a, #article .marathonCrewMembersInivitation a,
/*the same without #article*/
.marathonCrewsOverviewList .links a, .marathonCrewsOverviewList .headerContainer a, .marathonCrewMembersInivitation a {
	padding: 0px 3px 0px 3px !important;
	margin: 2px !important;
	border: solid grey 1px !important;
	display: block;
}

/*</crews links>*/

/*<crew headers>*/
/*with #article*/
#article .marathonCrewsOverviewList .headerContainer,
/*the same without #article*/ 
.marathonCrewsOverviewList .headerContainer {
	padding: 8px !important;
}

/*with #article*/
#article .marathonCrewView .header, #article .marathonCrewsOverviewList .headerContainer .header, #article .marathonCrewManage .header, #article .marathonCrewMembersInivitation .header,
/*the same without #article*/
.marathonCrewView .header, .marathonCrewsOverviewList .headerContainer .header, .marathonCrewManage .header, .marathonCrewMembersInivitation .header {
	
	font-size: larger !important;
	font-weight: bold !important;
	padding: 2px !important;
	border-bottom: solid grey 1px !important;
	margin-bottom: 5px !important;
}
/*</crew headers>*/

/*with #article*/
#article .marathonCrewView,
/*the same without #article*/
.marathonCrewView {
	
	color: black !important;
}

/*with #article*/
#article .marathonCrewView input,
/*the same without #article*/
.marathonCrewView input {
	margin: 2px !important;
}

/*with #article*/
#article .marathonCrewManage .entry,
/*the same without #article*/
.marathonCrewManage .entry {
	display: block !important;	
}

/*with #article*/
#article .marathonCrewManage .entry .subentryLabel, #article .marathonCrewManage .entry .subentryInput, #article .marathonCrewManage .entry .subentryError,
/*the same without #article*/
.marathonCrewManage .entry .subentryLabel, .marathonCrewManage .entry .subentryInput, .marathonCrewManage .entry .subentryError {

	float: left !important;
	padding-left: 10px !important;
}

/*with #article*/
#article .marathonCrewManage .entry .subentryLabel,
/*the same without #article*/
.marathonCrewManage .entry .subentryLabel {
	width: 100px !important;
}

/*with #article*/
#article .marathonCrewManage .entry .subentryInput,
/*the same without #article*/
.marathonCrewManage .entry .subentryInput {
	width: 200px !important;
}

/*with #article*/
#article .marathonCrewManage .entry .subentryError,
/*the same without #article*/
.marathonCrewManage .entry .subentryError {
	width: 300px !important;
}

/*with #article*/
#article .marathonCrewManage .entry .error,
/*the same without #article*/
.marathonCrewManage .entry .error {
	color: red !important;
	font-size: small !important;
}

/*with #article*/
#article .marathonCrewManage .errors, #article .marathonCrewMembersInivitation .errors,
/*the same without #article*/
.marathonCrewManage .errors, .marathonCrewMembersInivitation .errors {
	
	margin-left: 5px !important;
	color: red !important;
	display: block !important;
	font-size: small !important;
}

/*with #article*/
#article .marathonCrewManage .buttons input,
/*the same without #article*/
.marathonCrewManage .buttons input {
	
	display: block !important;
	margin: 2px !important;
	width: 200px !important;
}

/*with #article*/
#article .marathonCrewManage .buttons input.deleteCrew,
/*the same without #article*/
.marathonCrewManage .buttons input.deleteCrew {
	margin-top: 22px !important;
}

/*with #article*/
#article .marathonCrewMembersInivitation .buttons,
/*the same without #article*/
.marathonCrewMembersInivitation .buttons {
	padding: 2px !important;
}

/*with #article*/
#article .marathonCrewMembersInivitation .searchArea,
/*the same without #article*/
.marathonCrewMembersInivitation .searchArea {
	
	padding: 5px 0px 5px 0px !important;
}

/*with #article*/
#article .marathonCrewMembersInivitation .membersList,
/*the same without #article*/
.marathonCrewMembersInivitation .membersList {
	border-bottom: solid #CCCCCC 1px !important;
	margin-bottom: 5px !important;
}

/**** </marathon crews> */