div.FormElement {
	clear:left;
	height: auto;
	margin-left: 12px;
}

div.FormElement label {
	width: 120px;
	float:left;
	font-size: 11px;
    margin-right: 5px;
	
}

div.FormElement input, div.FormElement textarea, div.FormElement select {
	margin-bottom: 6px;
	font-size: 9px;
	border: 1px #CCCCCC solid;
}

div.FormElement iframe {
	border: 0;
	margin: 0;
}

div.FormElement textarea {
	width: 300px;
	height: 50px;
}

div.distChWiz_assetsCart, div.distChWiz_creditCardInformation, div.distChWiz_distChangeArea {
	
	display: block;
}

div.distChWiz_changeSuccess {
	color: green;
}

div.distChWiz_changeSuccess input {
	display: block;
}

div.distChWiz_creditCardInformation .header, div.distChWiz_assetsCart .header, div.distChWiz_distChangeArea .header, .marathonCrewMembersInivitation .header {
	
	font: medium;
	font-weight: bold;
	border-bottom: 1px #CCCCCC solid;
}

div.distChWiz_assetsCart, div.distChWiz_creditCardInformation, div.distChWiz_distChangeArea {
	position: relative;
	left: 0px;
	top: 0px;
}

div.distChWiz_distChangeArea .warning {
	font-style: italic;
	margin-top: 2px;
}

div.distChWiz_assetsCart div.contents, div.distChWiz_creditCardInformation div.contents, div.distChWiz_distChangeArea div.contents {
	display: block;
}

div.distChWiz_assetsCart div.contents div.entry, div.distChWiz_creditCardInformation div.contents div.entry, div.distChWiz_distChangeArea div.contents div.entry {
	margin: 10px;
}

div.distChWiz_assetsCart div.contents div.entry div, div.distChWiz_creditCardInformation div.contents div.entry span.subentry, div.distChWiz_distChangeArea div.contents div.entry div, div.distChWiz_distChangeArea div.contents div.entry span.subentry {
	display: inline;
	position: absolute;
	left: 150px;
}

div.distChWiz_distChangeArea .error, div.distChWiz_creditCardInformation .error {
	margin-left: 5px;
	color: red;
	display: block;
	font-size: small;
}

div.distChWiz_creditCardInformation .generalError {
	
	color: red;
	font-size: small;
}

div.distChWiz_distChangeArea select {
	width: 150px;
}

div.distChWiz_creditCardInformation div.contents div.entry input {
	width: 200px;
}

div.distChWiz_creditCardInformation div.contents div.entry input.ccvNumber {
	width: auto !important;
}

div.distChWiz_creditCardInformation div.contents div.credCardNr input {
	position: static;
	width: auto !important;
}

div.marathonCrewsOverviewList {
	position: relative;
	left: 0px;
	top: 0px;
	color: black;
}

/**** <marathon crews> */

/*<crews tables>*/

.marathonCrewsOverviewList table, .marathonCrewView table, .marathonCrewMembersInivitation table {
	margin: 0px;
	padding: 0px;
	border: solid #CCCCCC 1px;
	border-collapse: collapse;
}

.marathonCrewsOverviewList th, .marathonCrewsOverviewList td, .marathonCrewView td, .marathonCrewView th, .marathonCrewMembersInivitation td, .marathonCrewMembersInivitation th {
	
	padding: 2px;
	border: solid #CCCCCC 1px;
}

/*</crews tables>*/


/*<crews links>*/

.marathonCrewsOverviewList .links a:hover, .marathonCrewsOverviewList .headerContainer a:hover, .marathonCrewsOverviewList .contentsContainer th a:hover, .marathonCrewMembersInivitation td a:hover  {
	background-color: #6C6C6B;
	color: white;
}

.marathonCrewsOverviewList .contentsContainer th a {
	padding: 2px;
}

.marathonCrewsOverviewList a, .marathonCrewMembersInivitation a {
	
	color: #6C6C6B;
	text-decoration: none;
}

.marathonCrewsOverviewList .headerContainer a {
	border: solid grey 1px;
	padding: 2px;
	display: inline !important;
}

.marathonCrewsOverviewList .links a, .marathonCrewsOverviewList .headerContainer a, .marathonCrewMembersInivitation a {
	padding: 0px 3px 0px 3px;
	margin: 2px;
	border: solid grey 1px;
	display: block;
}

/*</crews links>*/

/*<crew headers>*/
.marathonCrewsOverviewList .headerContainer {
	padding: 8px;
}

.marathonCrewView .header, .marathonCrewsOverviewList .headerContainer .header, .marathonCrewManage .header, .marathonCrewMembersInivitation .header {
	
	font-size: larger;
	font-weight: bold;
	padding: 2px;
	border-bottom: solid grey 1px;
	margin-bottom: 5px;
}
/*</crew headers>*/

.marathonCrewView {
	
	color: black;
}

.marathonCrewView input {
	margin: 2px;
}

.marathonCrewManage {
	
}

.marathonCrewManage .entry {
	display: block;	
	
}

.marathonCrewManage .entry .subentryLabel, .marathonCrewManage .entry .subentryInput, .marathonCrewManage .entry .subentryError {

	float: left;
	padding-left: 10px;
}

.marathonCrewManage .entry .subentryLabel {
	width: 100px;
}

.marathonCrewManage .entry .subentryInput {
	width: 200px;
}

.marathonCrewManage .entry .subentryError {
	width: 300px;
}

.marathonCrewManage .entry .error {
	color: red;
	font-size: small;
}

.marathonCrewManage .errors {
	
	margin-left: 5px;
	color: red;
	display: block;
	font-size: small;
}

.marathonCrewManage .buttons input {
	
	display: block;
	margin: 2px;
	width: 200px;
}

.marathonCrewManage .buttons input.deleteCrew {
	margin-top: 22px;
}

.marathonCrewMembersInivitation .buttons {
	padding: 2px;
}

.marathonCrewMembersInivitation .searchArea {
	
	padding: 5px 0px 5px 0px;
}

/**** </marathon crews> */